---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Proyecto Amazônia',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    id = 'Home'
    image={{ src: '~/assets/images/amazonriver.jpg', alt: 'Rio Amazonas' }}
    actions={[
      {
        variant: 'primary',
        text: 'Toda tu ayuda suma',
        href: '#',
        target: '_blank',
        icon: 'tabler:heart-handshake',
      },
      { text: 'Conocenos más', href: '#Proyect' },
    ]}
  >
    <Fragment slot="title">
      2 Tesalonicenses 1:11
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Así que seguimos orando</span> por ustedes, pidiéndole a nuestro Dios que los ayude para que vivan una vida digna de su llamado.</span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Solo Dios</span>
      <span class="font-semibold">Que Él</span> les dé el poder para llevar a cabo todas las cosas buenas que la fe los mueve a hacer.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id = 'Proyect'
    tagline="Dentro del Proyecto"
    title="Conoce el porque de este deseo de nuestro corazon!"
    items={[
      {
        title: 'Texto de ejemplo',
        description:
          'Texto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemplo',
      },
      {
        title: 'Texto de ejemplo',
        description:
          'Texto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemplo',
      },
      {
        title: 'Texto de ejemplo',
        description:
          'Texto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemplo',
      },
    ]}
    image={{
      src: "https://images.unsplash.com/photo-1727815706353-790e0e298390?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Texto de ejemplo</h3>
      Texto de ejemplo
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Texto de ejemplo',
        description: `Texto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemplo`,
      },
      {
        title: 'Texto de ejemplo',
        description:
          'Texto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemplo',
      },
      {
        title: 'Texto de ejemplo',
        description:
          "Texto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemplo",
      },
      {
        title: 'Texto de ejemplo',
        description:
          'Texto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemplo',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1694614360387-269a5b572d58?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Texto de ejemplo</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Texto de ejemplo',
        description:
          'Texto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemplo',
      },
      {
        title: 'Texto de ejemplo',
        description:
          'Texto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemplo',
      },
      {
        title: 'Texto de ejemplo',
        description:
          'Texto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemplo',
      },
      {
        title: 'Texto de ejemplo',
        description: `Texto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemploTexto de ejemplo`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1652811435140-1b0f6fbf2915?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Texto de ejemplo.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Procesos del viaje..."
    items={[
      {
        title: '1ra Parada: <span class="font-medium">Aereopuerto</span>',
        description:
          "El viaje comienza con nuestra llegada al aereopuerto de Ezeiza, donde tomaremos el primer vuelo con varias escalas para llegar finalmente al aereopuerto de Manaos.",
        icon: 'tabler:plane',
      },
      {
        title: '2da Parada: <span class="font-medium">Balsa</em>',
        description:
          "Una vez en Manaos nos espera una balsa en la cual pasaremos 3 dias sobre ella cruzando el Rio Negro para poder llegar a Santa Isabel.",
        icon: 'tabler:sailboat',
      },
      {
        title: '3ra Parada: <span class="font-medium">Caminata</span>',
        description:
          'Debemos abrirnos paso por en medio de la frondosa selva del amazonas, ayudandonos de un machete para poder llegar a las comunidades que se encuentran dentro.',
        icon: 'tabler:leaf',
      },
      {
        title: 'Llegamos a la Comunidad!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1532690913001-11d5e03af4a4?q=80&w=871&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    id = 'Helpers'
    title="Formas de Ayudarnos"
    subtitle="Y si alguien da aunque sea un vaso de agua fría a uno de estos pequeños, por ser discípulo mío, de cierto os digo que no perderá su recompensa - Mateo 10:42"
    tagline="Ayudas"
    items={[
      {
        title: 'Orando',
        description: "Os ruego, hermanos, por nuestro Señor Jesucristo, y por el amor del Espíritu, que luchéis juntamente conmigo en oraciones a Dios por mí - Romanos 15:30",
        icon: 'tabler:pray',
      },
      {
        title: 'Ofrendando',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'tabler:mail-dollar',
      },
      {
        title: 'Comprando en la Tienda',
        description:
          'Otra forma de ayudarnos es comprando una prenda para llevar el mensaje de Salvacion por las calles.',
        icon: 'tabler:building-store',
      }
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- FAQs Widget ******************* -->

  <FAQs
    id = "FAQ"
    title="Preguntas Frecuentes"
    subtitle="Y les dijo: Id por todo el mundo y predicad el evangelio a toda criatura - Marcos 16:15"
    tagline="PF"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Cuál es el propósito del viaje misionero?',
        description:
          "El propósito es acompañar a los misioneros en su labor de llevar la palabra de Dios y brindar apoyo espiritual y material a las comunidades que viven dentro de la selva amazónica.",
      },
      {
        title: 'Qué tipo de actividades realizaremos durante el viaje?',
        description:
          'Durante el viaje, participaremos en actividades de evangelización, ayuda comunitaria e intentar hacer mas visible a la iglesia las actividades que se hacen en una zona de misiones.',
      },
      {
        title: 'Cómo se financia el viaje?',
        description:
          "El viaje se financia a través de donaciones y contribuciones de los participantes. Además, realizamos campañas para recaudar fondos que ayuden a cubrir los costos de transporte y suministros.",
      },
      {
        title: "Cómo puedo contribuir al viaje?",
        description:
          "Puedes contribuir de maneras, como realizando donaciones, difundiendo la causa, o participando en los eventos de recaudación de fondos.",
      },
      {
        title: 'Cuánto tiempo durará el viaje?',
        description:
          "El viaje tiene una duración aproximada de 3 a 4 semanas, dependiendo de las necesidades de las comunidades y la planificación de los misioneros.",
      },
      {
        title: 'Qué tipo de desafíos podemos enfrentar durante el viaje?',
        description:
          "Algunos de los desafíos incluyen las condiciones climáticas extremas, el acceso limitado a comodidades modernas, y la dificultad de transporte dentro de la selva. Es importante estar preparado para adaptarse a situaciones impredecibles.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Monto a recaudar', amount: '$9M' },
      { title: 'Recaudado', amount: '$0' },
      { title: 'Kilometros', amount: '3526' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Donar a la Causa',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:brand-google-fit',
      },
    ]}
  >
    <Fragment slot="title">
      Proyecto&nbsp;&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Amazônia</span>
    </Fragment>

    <Fragment slot="subtitle">
      Cada uno dé como propuso en su corazón, no con tristeza ni por necesidad; porque Dios ama al dador alegre.
    </Fragment>
  </CallToAction>
</Layout>
